

  {% extends 'layouts/application.html' %}

  {% block content %}

  <!-- HEADER -->
  <section class="section section--luxurious" style="background: url(images/image-hero-background.jpg);background-size: cover;background-position:top center;padding-top: 12rem;">
    <div class="container-fluid width-constrained">
      <h1 class="typeface-toad case-upper textalign-center lead-bottom" style="
    font-size: 20vw!important;
">
        <p style="line-height: .75;font-size: 200px;font-size: 20vmin;">Type<br>Jam!</p>
      </h1>
      <h2 class="typeface-business fontsize-3 textalign-center lead-bottom" style="line-height:1.5">It totally happened on<br>September 23rd, 2017!</h2>
      <p class="textalign-center lead-bottom letterspacing"><span class="typeface-highground fontsize-4 case-upper">Get Notified</span><br><span class="typeface-highground fontsize-3">about the next one</span></p>
      <!-- Begin MailChimp Signup Form -->
      <div style="max-width: 300px;margin: 0 auto;position:relative">
        <div id="mc_embed_signup">
          <form action="//jakefleming.us15.list-manage.com/subscribe/post?u=967242e61f4ddd80ef81de0f1&amp;id=217568fed6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
            <div id="mc_embed_signup_scroll">
              <div class="mc-field-group">
                <input type="email" value="" name="EMAIL" class="required email input lead-bottom-extra-small typeface-liberteen" id="mce-EMAIL" placeholder="Type your email..." style="background:black;border:none;border-radius: 100px;padding-left:30px;padding-right:30px;font-size:16px;color: white;">
                <input type="submit" value="" name="subscribe" id="mc-embedded-subscribe" class="button button-hand" style="">
              </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_967242e61f4ddd80ef81de0f1_217568fed6" tabindex="-1" value=""></div>

              <p class="fontsize-1 typeface-hellenic case-upper textalign-center">Click the hand to submit!</p>
            </div>
          </form>
        </div>
      </div>
        <!--End mc_embed_signup-->
    </div>
  </section>

  <section class="section section--luxurious section--dark" style="background: url(images/bg-first.jpg);background-size:cover;background-position: center center;">
      <!-- fun quote -->
      <div class="container-fluid">
        <div class="row center-xs middle-xs">
          <div class="col-xs-12 col-sm-4">
            <div class="typeface-rune fontsize-6 textalign-center text-light" style="margin: 20px 0;" contenteditable>rune<br>geo<br>yo</div>
            <div class="fontsize-1 typeface-hellenic case-upper textalign-center text-light letterspacing">
              click the text to type!
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="poster lead-bottom">
              <h2 class="typeface-toad textalign-center lead-bottom">
                <span class="fontsize-7">1st</span>
              </h2>
              <ul class="textalign-center lead-bottom" style="list-style-type: none;padding: 0;">
                <li class="typeface-liberteen fontsize-4">Michelle Adams</li>
                <li class="typeface-liberteen fontsize-4">Amy Zhang</li>
                <li class="typeface-liberteen fontsize-4">Dianna Xu</li>
              </ul>
              <p class="textalign-center typeface-viktor-script fontsize-4">A team of newbs!</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="typeface-rune fontsize-6 textalign-center text-light" style="margin: 20px 0;" contenteditable>yo<br>hey<br>babe<br></div>
            <div class="fontsize-1 typeface-hellenic case-upper textalign-center text-light letterspacing">
              click the text to type!
            </div>
          </div>
        </div>
      </div>
  </section>
  <section class="section section--luxurious section--dark" style="background: url(images/bg-second.jpg);background-size:cover;background-position: center center;">
      <!-- fun quote -->
      <div class="container-fluid">
        <div class="row center-xs middle-xs">
          <div class="col-xs-12 col-sm-4">
            <div class="typeface-cigar fontsize-8 textalign-center case-upper" style="margin: 20px 0" contenteditable>the<br>quick<br>brown<br>fox</div>
            <div class="fontsize-1 typeface-hellenic case-upper textalign-center letterspacing">
              click the text to type!
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="poster lead-bottom">
              <h2 class="typeface-toad textalign-center lead-bottom">
                <span class="fontsize-7">2nd</span>
              </h2>
              <ul class="textalign-center lead-bottom" style="list-style-type: none;padding: 0;">
                <li class="typeface-liberteen fontsize-4">Tad Wagner</li>
                <li class="typeface-liberteen fontsize-4">Tommi Sharp</li>
              </ul>
              <p class="textalign-center typeface-viktor-script fontsize-4">Type @ Cooper West students!</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="typeface-cigar fontsize-8 textalign-center case-upper" style="margin: 20px 0" contenteditable>smokes<br>fat<br>cigars<br>good</div>
            <div class="fontsize-1 typeface-hellenic case-upper textalign-center letterspacing">
              click the text to type!
            </div>
          </div>
        </div>
      </div>
  </section>
  <section class="section section--luxurious section--dark" style="background: url(images/bg-third.jpg);background-size:cover;background-position: center center;">
      <!-- fun quote -->
      <div class="container-fluid">
        <div class="row center-xs middle-xs">
          <div class="col-xs-12 col-sm-4">
            <div class="typeface-oliver fontsize-8 textalign-center text-light" style="margin: 20px 0" contenteditable>All the color has gone out of our lives</div>
            <div class="fontsize-1 typeface-hellenic case-upper textalign-center letterspacing text-light">
              click the text to type!
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="poster lead-bottom">
              <h2 class="typeface-toad textalign-center lead-bottom">
                <span class="fontsize-7">3rd</span>
              </h2>
              <ul class="textalign-center lead-bottom" style="list-style-type: none;padding: 0;">
                <li class="typeface-liberteen fontsize-4">Tom Caruthers</li>
              </ul>
              <p class="textalign-center typeface-viktor-script fontsize-4">A newb!</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="typeface-oliver fontsize-8 textalign-center text-light" style="margin: 20px 0" contenteditable>Those chickens were pretty good</div>
            <div class="fontsize-1 typeface-hellenic case-upper textalign-center letterspacing text-light">
              click the text to type!
            </div>
          </div>
        </div>
      </div>
  </section>

  <!-- <section class="section section--divider">
    <div class="container-fluid">
      <div class="row center-xs">
        <div class="col-sm-6 col-xs-12 textalign-center">
          <img src="images/decoration-stawberry.png" width="75">
        </div>
      </div>
    </div>
  </section> -->
  <section class="section overflow-x-hidden section--luxurious text-light" style="position: relative;overflow: hidden;">
    <div class="container-fluid lead-bottom" style="position: relative;z-index:102">
      <div class="row center-xs middle-xs">
        <div class="col-xs-12 col-sm-7 textalign-center">
          <h2 class="typeface-colt-soft textalign-center fontweight-bold lead-bottom">
            <span class="fontsize-4">What's</span>
            <br>
            <span class="fontsize-5">Type Jam?</span>
          </h2>
          <p class="typeface-liberteen fontsize-3">{{ description }}</p>
        </div>
      </div>
    </div>
    <!-- <div class="compound-illo compound-illo--height-sm" style="position: relative;z-index:104;">
      <div class="compound-illo compound-illo--jamkid compound-illo--height-sm">
        <div class="compound-illo compound-illo--exclamation-cloud">
          <img class="compound-illo__jamkid-exclamation-03" src="images/image-jamkid-exclamation-03.svg" alt="">
          <img class="compound-illo__jamkid-price" src="images/image-jamkid-price.svg" alt="">
          <img class="compound-illo__jamkid-exclamation-04" src="images/image-jamkid-exclamation-04.svg" alt="">
          <img class="compound-illo__jamkid-exclamation-02" src="images/image-jamkid-exclamation-02.svg" alt="">
          <img class="compound-illo__jamkid-exclamation-01" src="images/image-jamkid-exclamation-01.svg" alt="">
        </div>
        <img class="compound-illo__jamkid" src="images/image-jamkid-body.svg" alt="">
        <img class="compound-illo__jamkid compound-illo__jamkid--head" src="images/image-jamkid-head.svg" alt="">
        <img class="compound-illo__jamkid" src="images/image-jamkid-plate.svg" alt="">
        <img class="compound-illo__jamkid compound-illo__jamkid--arms" src="images/image-jamkid-arms.svg" alt="">
      </div>
      <div class="compound-illo compound-illo--jamkid-mascot compound-illo--height-sm">
        <img class="compound-illo__jamkid-mascot-jar" src="images/image-jamkid-mascot-jar.svg" alt="">
        <img class="compound-illo__jamkid-mascot-shadow" src="images/image-jamkid-mascot-shadow.svg" alt="">
        <img class="compound-illo__jamkid-mascot-stars-02" src="images/image-jamkid-mascot-stars-01.svg" alt="">
        <img class="compound-illo__jamkid-mascot-arms" src="images/image-jamkid-mascot-arms.svg" alt="">
        <img class="compound-illo__jamkid-mascot-head" src="images/image-jamkid-mascot-head.svg" alt="">
        <img class="compound-illo__jamkid-mascot-eyebrows" src="images/image-jamkid-mascot-eyebrows.svg" alt="">
        <img class="compound-illo__jamkid-mascot-legs" src="images/image-jamkid-mascot-legs.svg" alt="">
        <img class="compound-illo__jamkid-mascot-tie" src="images/image-jamkid-mascot-tie.svg" alt="">
        <img class="compound-illo__jamkid-mascot-stars-01" src="images/image-jamkid-mascot-stars-02.svg" alt="">
      </div>
    </div> -->
    <div width="400" style="position: absolute; top: 0;left:0;bottom:0;right: 0;z-index: 101;pointer-events:none;opacity:1;background:black;mix-blend-mode:saturation;"></div>

    <video width="400" style="min-height:150%;position: absolute; top: 50%;transform: translate(50%, -50%);right: 50%;z-index: 100;pointer-events:none;opacity:.5;width: auto;" autoplay muted loop>
      <source src="images/TypeJamCutNoTitles_1.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
  </section>
  <!-- <section class="section overflow-x-hidden section--luxurious">
    <div class="container-fluid">
      <div class="row center-xs middle-xs">
        <div class="col-xs-12 col-sm-12">
          <div class="compound-illo compound-illo--height-sm">
            <div class="compound-illo compound-illo--jamkid compound-illo--height-sm">
              <div class="compound-illo compound-illo--exclamation-cloud">
                <img class="compound-illo__jamkid-exclamation-03" src="images/image-jamkid-exclamation-03.svg" alt="">
                <img class="compound-illo__jamkid-price" src="images/image-jamkid-price.svg" alt="">
                <img class="compound-illo__jamkid-exclamation-04" src="images/image-jamkid-exclamation-04.svg" alt="">
                <img class="compound-illo__jamkid-exclamation-02" src="images/image-jamkid-exclamation-02.svg" alt="">
                <img class="compound-illo__jamkid-exclamation-01" src="images/image-jamkid-exclamation-01.svg" alt="">
              </div>
              <img class="compound-illo__jamkid" src="images/image-jamkid-body.svg" alt="">
              <img class="compound-illo__jamkid compound-illo__jamkid--head" src="images/image-jamkid-head.svg" alt="">
              <img class="compound-illo__jamkid" src="images/image-jamkid-plate.svg" alt="">
              <img class="compound-illo__jamkid compound-illo__jamkid--arms" src="images/image-jamkid-arms.svg" alt="">
            </div>
            <div class="compound-illo compound-illo--jamkid-mascot compound-illo--height-sm">
              <img class="compound-illo__jamkid-mascot-jar" src="images/image-jamkid-mascot-jar.svg" alt="">
              <img class="compound-illo__jamkid-mascot-shadow" src="images/image-jamkid-mascot-shadow.svg" alt="">
              <img class="compound-illo__jamkid-mascot-stars-02" src="images/image-jamkid-mascot-stars-01.svg" alt="">
              <img class="compound-illo__jamkid-mascot-arms" src="images/image-jamkid-mascot-arms.svg" alt="">
              <img class="compound-illo__jamkid-mascot-head" src="images/image-jamkid-mascot-head.svg" alt="">
              <img class="compound-illo__jamkid-mascot-eyebrows" src="images/image-jamkid-mascot-eyebrows.svg" alt="">
              <img class="compound-illo__jamkid-mascot-legs" src="images/image-jamkid-mascot-legs.svg" alt="">
              <img class="compound-illo__jamkid-mascot-tie" src="images/image-jamkid-mascot-tie.svg" alt="">
              <img class="compound-illo__jamkid-mascot-stars-01" src="images/image-jamkid-mascot-stars-02.svg" alt="">
            </div>
          </div>
        </div>

      </div>
    </div>
  </section> -->
  <section class="section overflow-x-hidden">
    <div class="container-fluid lead-bottom max-width-medium">
      <div class="row center-xs middle-xs">
        <div class="col-xs-12 col-sm-7 textalign-center">
          <h2 class="typeface-viktor-script textalign-center lead-bottom">

            <span class="fontsize-4">Brought to you by amazing folks</span>
          </h2>
        </div>
      </div>
      <div class="row center-xs middle-xs">
        <div class="col-xs-12 col-sm-4 sponsor">
          <a href="https://typekit.com/"><img src="images/logo-typekit.svg" alt="Sponsored by Adobe TypeKit"></a>
        </div>
        <div class="col-xs-12 col-sm-4 sponsor">
          <a href="https://glyphsapp.com"><img src="images/logo-glyphs.svg" alt="Sponsored by Glyphs"></a>
        </div>
        <div class="col-xs-12 col-sm-4 sponsor">
          <a href="https://abstractapp.com"><img src="images/logo-abstract.svg" alt="Sponsored by Abstract"></a>
        </div>
        <div class="col-xs-12 col-sm-4 sponsor">
          <a href="https://typethursdaysf.eventbrite.com"><img src="images/logo-typethursdaysf.svg" alt="Sponsored by TypeThursdaySF"></a>
        </div>
        <div class="col-xs-12 col-sm-4 sponsor">
          <a href="https://tradecraft.com"><img src="images/logo-tradecraft.svg" alt="Sponsored by Tradecraft"></a>
        </div>
        <div class="col-xs-12 col-sm-4 sponsor">
          <a href="https://figma.com"><img src="images/logo-figma.svg" alt="Sponsored by Figma"></a>
        </div>
        <div class="col-xs-12 col-sm-4 sponsor">
          <a href="https://simon-cozens.com"><img src="images/logo-simon-cozens.svg" alt="Sponsored by Simon Cozens"></a>
        </div>
        <div class="col-xs-12 col-sm-4 sponsor">
          <a href="https://verycoolstudio.com"><img src="images/logo-verycool.svg" alt="Sponsored by Very Cool Studio"></a>
        </div>
        <div class="col-xs-12 col-sm-4 sponsor">
          <a href="https://continentaltype.co"><img src="images/logo-continental.svg" alt="Sponsored by Continental Type"></a>
        </div>
        <div class="col-xs-12 col-sm-4 sponsor">
          <a href="https://www.fontself.com/"><img src="images/logo-fontself.svg" alt="Sponsored by Fontself"></a>
        </div>
      </div>
    </div>
  </section>







  <!-- SPONSORS & BENEFACTORS -->



  <!-- ORGANIZERS/WHY -->
  <section>
    <!-- info about mezzo, kwb, ws -->
    <!-- info about why we created type jam -->
  </section>
  <!-- LOCATION -->

  <!-- EXPLANATION -->



  <!-- CTA -->

  <!-- FOOTER -->

  <footer class="section section--dark">
    <div class="container-fluid width-constrained textalign-center">
      <ul class="footer-links lead-bottom">
        <h4 class="case-upper fontsize-2 typeface-colt-soft">Organized by</h4>
        <li><a class="footer-link fontsize-4 typeface-toad" href="http://www.jakeflem.com">Jake Fleming</a></li>
        <li><a class="footer-link fontsize-4 typeface-viktor-script" href="http://www.zachalbert.com/">Zac Halbert</a></li>
      </ul>
      <div class="row center-xs">

        <div class="col-xs-12 col-sm-4">
          <ul class="footer-links textalign-center">
            <h4 class="case-upper fontsize-1 typeface-colt-soft">Sponsored by</h4>
            <li><a class="footer-link fontsize-2 typeface-liberteen" href="https://typekit.com">Adobe Typekit</a></li>
            <li><a class="footer-link fontsize-2 typeface-liberteen" href="https://glyphsapp.com">Glyphs</a></li>
            <li><a class="footer-link fontsize-2 typeface-liberteen" href="https://typethursdaysf.eventbrite.com">TypeThursdaySF</a></li>
            <li><a class="footer-link fontsize-2 typeface-liberteen" href="https://figma.com">Figma</a></li>
            <li><a class="footer-link fontsize-2 typeface-liberteen" href="https://tradecraft.com">Tradecraft</a></li>
            <li><a class="footer-link fontsize-2 typeface-liberteen" href="https://verycoolstudio.com">Very Cool Studio</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4">
          <ul class="footer-links textalign-center">
            <h4 class="case-upper fontsize-1 typeface-colt-soft">Special Thanks</h4>
            <li><a class="footer-link fontsize-2 typeface-liberteen" href="https://dribbble.com/jockinthebox">Thomas Jockin</a></li>
            <li><a class="footer-link fontsize-2 typeface-liberteen" href="https://delvefonts.com/">Delve Withrington</a></li>
            <li><a class="footer-link fontsize-2 typeface-liberteen" href="https://typekit.com">Kyle Wayne Benson</a></li>
            <li><a class="footer-link fontsize-2 typeface-liberteen" href="https://typethursdaysf.eventbrite.com">Winston Scully</a></li>
          </ul>
        </div>
      </div>

    </div>
    <!-- copyright -->
    <!-- links to ttsf -->
    <!-- links to sfcb -->
    <!-- links to our stuff -->
    <!-- links to eventbrite -->
  </footer>


  {% endblock %}
