label {
  font-family: $font-02;
  font-size: 1rem;
  font-style: italic;
}

.narrow.form {
  max-width: 300px;
  margin: 0 auto;
}

.medium.form {
  max-width: 800px;
  margin: 0 auto;
}

.form {
  margin-bottom: 1rem;
}



.form-text {
  background: white;
  border: 0;
  box-shadow: 0px 2px black;
  color: black;
  font-family: $font-01;
  font-weight: $font-weight-02;
  font-size: 1rem;
  line-height: 1.5rem;
  outline: none;
  padding: $space 4px;
  resize: none;
  display: block;
  width: 100%;
}

.form-select, select.form-select {
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: 0!important;
  color: black;
  font-family: $font-01;
  font-weight: $font-weight-02;
  font-size: 1rem;
  line-height: 1.5rem;
  outline: none;
  padding: $space 0;
  resize: none;
  vertical-align: middle;
  display: block;
  width: 100%;
}

.form-select-container {
  box-shadow: 0px 2px black;
  display: block;
}

textarea.form-text {
  min-height: 6rem;
}

// * GRID
.form .two-column.grid, .form .three-column.grid {
  label {
    padding: $space 0;
    text-align: right;
  }
}

.form .three-column.grid {
  > .form-text {
    grid-column: auto / span 2;
  }
  > .button {
    grid-column: 2;
    margin-top: 2rem;
    @media (max-width: 992px) {
      grid-column: 2 / span 2;
    }
  }
}

//placeholder
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(0,0,0,.5);
  font-family: $font-02;
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(0,0,0,.5);
  font-family: $font-02;
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(0,0,0,.5);
  font-family: $font-02;
  font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(0,0,0,.5);
  font-family: $font-02;
  font-style: italic;
}
