.button.dense .material-icons {
  height: $space;
  font-size: 1rem;
  width: $space;
  vertical-align: text-top;
}

.button .material-icons {
  font-size: 1.5rem;
  height: $space*1.5;
  width: $space*1.5;
  vertical-align: text-top;
}
