@media only screen and (max-width: 599px) {
  #nav {
    z-index: 3;
  }
  #nav:target {
    transform: translateX(340px);
  }
}

.off-canvas-toggle {
  display: none;
  @media only screen and (max-width: 599px) {
    display: inline-block!important;
    &.close {
      background: white;
      border-radius: 1000px;
      display: block!important;
      line-height: $space*2;;
      position: absolute;
      text-align: center;
      top: $space;
      right:$space;
      width: $space*2;
    }
  }
}
