// * SECTION
.section {
  padding: $space*8 $space*2;
}

// ** LIGHT
.section.light {
  // @include backgroundColor($neutral-color-lightest);
  background: #f2efff;
}

// ** PRIMARY
.section.primary {
  background-color: $primary-color;

    color: white;

  &.light {
    background: lighten($primary-color,30%);
    * {
      color: $primary-color;
    }
  }
}

// ** ACCENT
.section.accent {
  background: $accent-color;
  * {
    color: white;
  }
  &.light {
    background: $accent-color-light;
    * {
      color: $accent-color;
    }
  }
}

// ** FEATURED
.section.featured {
  padding: $space*5;
}
