@mixin shadow($color : $neutral-color-darkest, $interactive : false) {
  box-shadow: 0 2px 5px transparentize(darken($color, 20%), .8);
  @if ($interactive != false) {
    transition: $transition-shadow;
    &:hover {
      box-shadow: 0 5px 10px transparentize($color, .8);
      cursor: pointer;
    }
  }
}
