// * DEFAULTS
@import "defaults/reboot";

// * VARIABLES
@import "variables/color";
@import "variables/general";
@import "variables/type";

// * BASE
@import "base/layout";
@import "base/typography";

// * ATTRIBUTES
@import "attributes/background";
@import "attributes/shadow";

// * COMPONENTS
@import "components/button";
@import "components/card";
@import "components/form";
@import "components/global-notification";
@import "components/image";
@import "components/main";
@import "components/material-icons";
@import "components/nav-list";
@import "components/off-canvas";
@import "components/section";
@import "components/side-nav";
@import "components/top-nav";

// * UTILITIES
@import "utilities/helpers";
@import "utilities/position";

html, body {
  font-feature-settings: "swsh";
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

// * HERO
.hero {
  background-image: url(../images/bg-goo-top.svg);
  background-repeat: no-repeat;
  background-position: center 3px;
  box-shadow: inset 0 4px black;
  padding: 10rem 1rem 6rem 1rem;
}

// * TRANSITION
.transition.dark {
  background-image: url(../images/bg-goo-bottom.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 32px;
  position: relative;
  bottom: -1px;
}

.transition.light {
  background-image: url(../images/bg-goo-top.svg);
  background-repeat: no-repeat;
  background-position: center top;
  height: 32px;
  position: relative;
  top: -1px;
}

.jam-berry {
  background-image: url(../images/jam-berry.svg);
  background-size: 100%;
  height: 80px;
  position: absolute;
  left: 0;
  top: 0;
  transform: rotateZ(-20deg);
  width: 80px;
  z-index: 3;
}

.jam-crud {
  background-image: url(../images/jam-crud.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  height: 32px;
  position: absolute;
  width: 100%;
  top: 55px;
  z-index: 1;
}

// * CONTENT
.content-circle, .content-circle, .content-circle.section.primary, .content-circle.section.primary {
  background-size: contain;
  color: black!important;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 4rem;
  height: 608px;
  width: 608px;
  background-image: url(../images/content-circle.svg);
  background-color: black;
  @media (max-width: 992px) {
    height: auto;
    width: auto;
    padding: 2rem;
    background-size: cover;
    background: white!important;
    border-radius: 40px;
  }
}

// * CALLOUTS
.fun.tilted.callout {
  font-family: $font-02;
  font-size: 2.5rem;
  font-style: italic;
  font-weight: $font-weight-08;
  left: 50%;
  position: absolute;
  top: 2rem;
  transform: rotateZ(-30deg) translateX(3rem);
}

// * LOGO
.logo {
  margin-bottom: 1rem;
}

// * GLOBAL NOTIFICATION
.global-notification {
  padding: .5rem;
  .global-notification-body {
    background: white;
    border-radius: $border-radius;
    color: $brand-color-01;
    padding: 1rem;
  }
}

.svg-clip {
  width: 0;
  height: 0;
}

// * SPONSORS
.sponsor {
  height: 6rem;
}

// @keyframes wipe {
//   0% {
//     height: 100vh;
//   }
//   100% {
//     height: 0vh;
//   }
// }
//
// .wipe.top-nav {
//   height: 100vh;
// }
//
// .wipe {
//   transition: height .3s;
//   height: 0;
//   animation: wipe .3s 1;
//   animation-delay: .5s;
// }
