$brand-color-01: black;
$brand-color-02: black;
$brand-color-03: #ffd512;
$brand-color-04: #ffbfd8;

$neutral-color: #828695;
$neutral-color-lightest: #f2f3f7;
$neutral-color-darkest: #2e364e;

$primary-color: $brand-color-01;
$primary-color-light: #f2efff;
$accent-color: $brand-color-02;
$accent-color-light: $brand-color-04;
