// * SETTINGS

// ** text transform
@mixin textTransform($transform-settings: initial){
  text-transform: $transform-settings;
}

// * FONTS

// ** weights
$font-weight-01: 100;
$font-weight-02: 200;
$font-weight-03: 300;
$font-weight-04: 400;
$font-weight-05: 500;
$font-weight-06: 600;
$font-weight-07: 700;
$font-weight-08: 800;

// ** families
$font-01: 'Gooper';
$font-02: 'Gooper Italic';
$font-03: 'Jam';
$font-04: 'Industrious';

// ** gooper
@font-face {
  font-family: $font-01; font-weight: $font-weight-01;
  src: url(../fonts/Gooper0.2-Thin.eot);
  src: url(../fonts/Gooper0.2-Thin.woff2) format('woff2');
}
@font-face { font-family: $font-01; font-weight: $font-weight-02; src: url(../fonts/Gooper0.2-Light.eot); src: url(../fonts/Gooper0.2-Light.woff2) format('woff2'); }
@font-face { font-family: $font-01; font-weight: $font-weight-03; src: url(../fonts/Gooper0.2-Regular.eot); src: url(../fonts/Gooper0.2-Regular.woff2) format('woff2'); }
@font-face { font-family: $font-01; font-weight: $font-weight-05; src: url(../fonts/Gooper0.2-SemiBold.eot); src: url(../fonts/Gooper0.2-SemiBold.woff2) format('woff2'); }
@font-face { font-family: $font-01; font-weight: $font-weight-06; src: url(../fonts/Gooper0.2-Bold.eot); src: url(../fonts/Gooper0.2-Bold.woff2) format('woff2'); }
@font-face { font-family: $font-01; font-weight: $font-weight-08; src: url(../fonts/Gooper0.2-Black.eot); src: url(../fonts/Gooper0.2-Black.woff2) format('woff2'); }

// ** gooper italic
@font-face { font-family: $font-02; font-weight: $font-weight-01; font-style: italic; src: url(../fonts/Gooper0.2-ThinItalic.eot); src: url(../fonts/Gooper0.2-ThinItalic.woff2) format('woff2'); }
@font-face { font-family: $font-02; font-weight: $font-weight-02; font-style: italic; src: url(../fonts/Gooper0.2-LightItalic.eot); src: url(../fonts/Gooper0.2-LightItalic.woff2) format('woff2'); }
@font-face { font-family: $font-02; font-weight: $font-weight-03; font-style: italic; src: url(../fonts/Gooper0.22-RegularItalic.eot); src: url(../fonts/Gooper0.2-RegularItalic.woff2) format('woff2'); }
@font-face { font-family: $font-02; font-weight: $font-weight-05; font-style: italic; src: url(../fonts/Gooper0.2-SemiBoldItalic.eot); src: url(../fonts/Gooper0.2-SemiBoldItalic.woff2) format('woff2'); }
@font-face { font-family: $font-02; font-weight: $font-weight-06; font-style: italic; src: url(../fonts/Gooper0.2-BoldItalic.eot); src: url(../fonts/Gooper0.2-BoldItalic.woff2) format('woff2'); }
@font-face { font-family: $font-02; font-weight: $font-weight-08; font-style: italic; src: url(../fonts/Gooper0.2-BlackItalic.eot); src: url(../fonts/Gooper0.2-BlackItalic.woff2) format('woff2'); }

// ** jam
@font-face { font-family: $font-03; font-weight: $font-weight-04; src: url(../fonts/JamRegular.woff2); }

// ** industrious
@font-face { font-family: $font-04; font-weight: $font-weight-04; src: url(../fonts/Industrious001-RegularBlack.woff2); }


// ** sf 2017 winners
@font-face { font-family: 'Rune'; font-weight: $font-weight-04; src: url(../fonts/TJRUNE-Regular.woff2); }
@font-face { font-family: 'Cigar'; font-weight: $font-weight-04; src: url(../fonts/Cigar-Regular.woff2); }
@font-face { font-family: 'OliverSans'; font-weight: $font-weight-04; src: url(../fonts/OliverSans-Regular.woff2); }

// ** london 2018 winners
@font-face { font-family: 'Restart'; font-weight: $font-weight-04; src: url(../fonts/Restart-Regular.woff2); }
@font-face { font-family: 'Clessidra'; font-weight: $font-weight-04; src: url(../fonts/Clessidra-Display.woff2); }
@font-face { font-family: 'Ouija'; font-weight: $font-weight-04; src: url(../fonts/OUIJA-Regular.woff2); }


// * DEFINITIONS
$font-heading: $font-02;

// * TYPE SCALE

// ** line-height
$line-height: 1.5rem;
