// * SETTINGS

// ** text transform
@mixin textTransform($transform-settings: initial){
  text-transform: $transform-settings;
}

// * FONTS

// ** weights
$font-weight-01: 100;
$font-weight-02: 200;
$font-weight-03: 300;
$font-weight-04: 400;
$font-weight-05: 500;
$font-weight-06: 600;
$font-weight-07: 700;
$font-weight-08: 800;

// ** families
$font-01: 'Gooper';
$font-02: 'Gooper Italic';
$font-03: 'Jam';

// ** gooper
@font-face { font-family: $font-01; font-weight: $font-weight-01; src: url(../fonts/Gooper0.2-Thin.woff); }
@font-face { font-family: $font-01; font-weight: $font-weight-02; src: url(../fonts/Gooper0.2-Light.woff); }
@font-face { font-family: $font-01; font-weight: $font-weight-03; src: url(../fonts/Gooper0.2-Regular.woff); }
@font-face { font-family: $font-01; font-weight: $font-weight-05; src: url(../fonts/Gooper0.2-Semibold.woff); }
@font-face { font-family: $font-01; font-weight: $font-weight-06; src: url(../fonts/Gooper0.2-Bold.woff); }
@font-face { font-family: $font-01; font-weight: $font-weight-08; src: url(../fonts/Gooper0.2-Black.woff); }

// ** gooper italic
@font-face { font-family: $font-02; font-weight: $font-weight-01; font-style: italic; src: url(../fonts/Gooper0.2-ThinItalic.woff); }
@font-face { font-family: $font-02; font-weight: $font-weight-02; font-style: italic; src: url(../fonts/Gooper0.2-LightItalic.woff); }
@font-face { font-family: $font-02; font-weight: $font-weight-03; font-style: italic; src: url(../fonts/Gooper0.2-RegularItalic.woff); }
@font-face { font-family: $font-02; font-weight: $font-weight-05; font-style: italic; src: url(../fonts/Gooper0.2-SemiboldItalic.woff); }
@font-face { font-family: $font-02; font-weight: $font-weight-06; font-style: italic; src: url(../fonts/Gooper0.2-BoldItalic.woff); }
@font-face { font-family: $font-02; font-weight: $font-weight-08; font-style: italic; src: url(../fonts/Gooper0.2-BlackItalic.woff); }

// ** jam
@font-face { font-family: $font-03; font-weight: $font-weight-04; src: url(../fonts/JamRegular.woff); }

// * DEFINITIONS
$font-heading: $font-02;

// * TYPE SCALE

// ** line-height
$line-height: 1.5rem;
