body {
  font-family: $font-01;
}

// * BODY COPY
.body-copy {
  font-size: 1rem;
  font-weight: $font-weight-03;
  margin-bottom: 2rem;
}
.big.body-copy {
  font-size: 1.5rem;
}
.small.body-copy {
  color: rgba(0,0,0,.5);
  font-size: .75rem;
}

// * HEADING
.heading {
  display: block;
}
.level-one.heading {
  @include textTransform();
  font-family: $font-heading;
  font-size: 3rem;
  line-height: $line-height*3;
}
.level-two.heading {
  @include textTransform();
  font-family: $font-heading;
  font-size: 1.5rem;
  margin-bottom: $space*2;
}
.level-three.heading {
  @include textTransform();
  font-family: $font-heading;
  font-size: 2rem;
  margin-bottom: $space;
}

.big.heading {
  font-family: $font-heading;
  font-size: 4rem;
  font-weight: $font-weight-08;
  margin-bottom: $space*1.5;
}

.alternate.heading {
  font-family: $font-03;
}

// * CENTERED
*.centered {
  margin: 0 auto;
  text-align: center;
}

// * BLOCK INLINE & INLINE-BLOCK
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
